attrs==23.2.0
Automat==22.10.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
constantly==23.10.4
contourpy==1.2.1
cryptography==42.0.7
cssselect==1.2.0
cycler==0.12.1
filelock==3.14.0
fonttools==4.51.0
hyperlink==21.0.0
idna==3.7
importlib-resources==6.4.0
incremental==22.10.0
itemadapter==0.9.0
itemloaders==1.2.0
jmespath==1.0.1
joblib==1.4.2
kiwisolver==1.4.5
lxml==5.2.1
matplotlib==3.8.4
numpy==1.26.4
packaging==24.0
parsel==1.9.1
pillow==10.3.0
Protego==0.3.1
pyasn1==0.6.0
pyasn1-modules==0.4.0
pycparser==2.22
PyDispatcher==2.0.7
pyOpenSSL==24.1.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
queuelib==1.7.0
requests==2.31.0
requests-file==2.0.0
scikit-learn==1.4.2
scipy==1.13.0
Scrapy==2.11.1
scrapy-spiders==0.0.2
scrapy-splash==0.9.0
scrapy-user-agents==0.1.1
service-identity==24.1.0
six==1.16.0
threadpoolctl==3.5.0
tldextract==5.1.2
twisted==24.3.0
typing-extensions==4.11.0
ua-parser==0.18.0
urllib3==2.2.1
user-agents==2.2.0
w3lib==2.1.2
xlrd==2.0.1
zipp==3.18.1
zope.interface==6.3
